* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f7;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 25px;
  font-weight: bold;
}

.header-left2 a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
  cursor: pointer;
}

.header-left3 a {
  text-decoration: none;
  color: lightgray;
  padding-right: 10px;
  cursor: pointer;
}

.header-left3 a:hover {
  color: black;
}

.header-right a {
  text-decoration: none;
  color: black;
  padding-left: 12px;
  cursor: pointer;
}

.hero {
  height: 270px;
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
}

.hero2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
  padding-right: 25px;
}

.hero2 h3 {
  padding-left: 25px;
}

.hero2 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.hero3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.hero3 p {
  font-size: 14px;
  color: gray;
  padding-bottom: 40px;
}

.hero3 button {
  width: 440px;
  height: 58px;
  margin-top: 12px;
  border-radius: 12px;
  border: none;
  background-color: #0baefe;
  color: #fff;
}

.ad {
  height: 120px;
  width: 500px;
  background-color: #cff3d1;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: self-start;
  padding: 15px 20px;
  flex-direction: column;
}

.ad p {
  font-size: 13px;
}

#skyblue {
  color: #0baefe;
  font-weight: bold;
}

#blue {
  color: #3376cb;
  font-weight: bold;
}

.ad h3 {
  font-size: 22px;
}

.green {
  color: #05b10a;
}
