* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f7;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 25px;
  font-weight: bold;
}

#right-qr {
  position: relative;
  top: 2px;
  cursor: pointer;
}

#right-bell {
  cursor: pointer;
}

.header-left2 a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
  cursor: pointer;
}

.header-left3 a {
  text-decoration: none;
  color: lightgray;
  padding-right: 10px;
  cursor: pointer;
}

.header-left3 a:hover {
  color: black;
}

.hero {
  height: 270px;
  width: 500px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 15px;
}

.hero2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
  padding-right: 25px;
}

.hero2 h3 {
  padding-left: 25px;
}

.hero2 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.hero3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.hero3 p {
  font-size: 14px;
  color: gray;
  padding-bottom: 40px;
}

.hero3 button {
  width: 440px;
  height: 58px;
  margin-top: 12px;
  border-radius: 12px;
  border: none;
  background-color: #0baefe;
  color: #fff;
  cursor: pointer;
}

.hero3 button:hover {
  background-color: #08577f;
}

.hero-img {
  display: flex;
  justify-content: row;
}

#i-hero {
  padding-left: 5px;
  padding-top: 4px;
  cursor: pointer;
}

.hero2 a:hover {
  color: gray;
}

.ad {
  height: 120px;
  width: 500px;
  background-color: #cff3d1;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: self-start;
  padding: 15px 20px;
  flex-direction: column;
  position: relative;
}

.ad p {
  font-size: 13px;
}

#skyblue {
  color: #0baefe;
  font-weight: bold;
}

#blue {
  color: #3376cb;
  font-weight: bold;
}

.ad h3 {
  font-size: 22px;
}

.green {
  color: #05b10a;
}

#lucky-box {
  position: absolute;
  right: 15px;
  top: 15px;
}

.list {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.list section {
  width: 170px;
  height: 170px;
  background-color: #fff;
  border-radius: 15px;
  flex-shrink: 0;
  margin: 25px 1px;
  min-width: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 50px;
}

.emoji img {
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 10px;
  right: 15px;
}

.sec {
  font-size: 17.8px;
  color: gray;
}

.fin {
  font-size: 17.8px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
