/* 1단계: 리셋 / 전역 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* 컴포넌트 별 2 ~ 4 단계 반복 */

/*
      ---------------------------
      헤더 영역 (상단 네비게이션)
      ---------------------------
      */

/* 2단계: 레이아웃 */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 3단계: 컴포넌트 스타일 */
.logo {
  color: #d1111d;
  font-size: 28px;
}

.navbar nav a {
  text-decoration: none;
  color: #ccc;
  margin-left: 20px;
  transition: color 0.8s ease;
}

/* 4단계: 세부 조정 */
.navbar nav a:hover {
  color: #fff;
}

/*
      ---------------------------
      히어로 영역 (메인 베너)
      ---------------------------
      */

.hero {
  height: 60vh;
  display: flex;
  align-items: flex-end;
  padding: 60px 30px;
  /*
        레이어1 - linear-gradient
        - 그라디언트:  둘 이상의 색상이 경계선 없이 자연스럽게 점진적으로
        변화하는 효과를 의미
        레이어2 - 실제 배경 사진
        url(...) 이미지,
        center, 이미지를 중심을 중앙 영역에 배치
        cover   비율 유지하며 영역에 꽉 채움 (넘치면 잘림)
        */
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("https://picsum.photos/seed/netflex1220/1200/600") center/cover;
}

/* 3단계 - 컴포넌트 스타일 */
.hero h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 20px;
}

.btn-play,
.btn-info {
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* 4단계: 세부 조정 */

/*
      ---------------------------
      가로 스크롤 영화 리스트 (movie-row)
      ---------------------------
      */

/* 2단계: 레이아웃 */
.movie-row {
  padding: 30px;
}

.movie-list {
  display: flex;
  /* 
        넘치면 가로 스크롤 툴바 생성
        auto: 내용이 넘칠 때만 스크롤바 표시 됨(일반적)
        scroll: 내용이 없어도 스크롤바 항상 표시 됨
        */
  overflow-x: auto;
  /* 넘치는 부분은 그냥 잘려나감: 대신 스크롤 불가가 됨 */
  overflow-y: hidden;
  gap: 10px;
  padding: 15px 0;
}

/* 3단계: 컴포넌트 스타일 */
.movie-row h2 {
  font-size: 22px;
}

.movie-list img {
  width: 150px;
  flex-shrink: 0;
  border-radius: 5px;

  transition: transform 0.3s ease;
}

/* 4단계: 세부 조정 */
.movie-list img:hover {
  transform: scale(1.1);
}

/*
      ---------------------------
      footer
      ---------------------------
      */

/* 2단계: 레이아웃 */
/* 3단계 컴포넌트 스타일 */
footer {
  padding: 20px 30px;
  color: #ccc;
}

/* 4단계: 세부 조정 */

/*
      ---------------------------
      5단계: 전체 반응형 처리
      ---------------------------
      */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
  }
}
